<!DOCTYPE html>
<html>
<head>
  <title>Image Search</title>
  <link type="text/css" rel="stylesheet" href = "/css/stylesheet.css">
</head>
<body>
<h1 id="header" class="title">Image Search Abstraction Layer</h1>
<h3 id="title" class="title">Instructions</h3>
<img id="gnomes" src="https://upload.wikimedia.org/wikipedia/en/d/dd/Gnomes_plan.png"/>
<ol id="list">
    <li>Pass a query preceded by /api/imagesearch/ into the address bar</li>
    <li>Make sure that the original url is included as well, e.g. https://image-search320.herokuapp.com/api/imagesearch/funny cats</li>
    <li>The result will be a array of information with the URLs for 10 images and their host pages</li>
    <li>In order to paginate through the results, add ?offset=page number to the URL. For example, funny cats?offset=2</li>
    <li>To see the last ten searches, add /api/latest to the original url</li>
    <li>?? </li>
    <li>Profit</li>
</ol>
<p id="descriptionLinks">
    Check out the <a href="https://github.com/ajGingrich/Image-Search" target="_blank">github repository</a>
    or the <a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer" target="_blank">description</a> from freeCodeCamp.
</p>
</body>

</html>